<!doctype html>
<html lang="pt-br">
  
<head>
  <meta charset="utf-8">
  <title>Site Angular</title>
  <meta name="description" content="Angular Universal Sample Application">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--CDN icones-->
<script src="https://kit.fontawesome.com/dd7fb49998.js" crossorigin="anonymous"></script>
<!--FONTES GOOGLE-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
